div{
    display: flex;
    align-items:center;
}
a{
    text-decoration: none;
    font-size: 2em;
    color: black;
    font-weight: bold;
    
}
button{
    background-color: #4763A9;
    padding: 16px 33px 16px 33px;
    color:white;
    border: none;
}
#div3{
    width: 50vw;
    display: flex;
    justify-content: space-around;
}
.half{
    width: 50vw;
    height: 100vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 510px;
    height: 425px;
}
.img{
    margin-left: 25px;
    margin-right: 10px;
}
.Background{
    position: absolute;
    z-index: -10;
    width: 50vw;
    height: 100vh;
}
#title{
    font-size: 70px;
    font-weight: bold;
    margin: 0px;
}
header{
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Playfair Display", serif;
}
#container2{
    position: relative;
    top: 70px;
}
